/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: 'Roboto', sans-serif;
 }

 a:hover {
   cursor: pointer;
   background: #c7e3ff;
 }
 .highlight a {
   background: yellow;
   border: 1px solid orange;
 }
 .tree-container {
   margin-top: 20px;
 }
 ul {
     /*border-left: 1px solid #888484;*/
     list-style-type: none;
 }
 ul.tree, ul.tree ul {
  list-style-type: none;
  background: url(http://res.cloudinary.com/dt5viyxyq/image/upload/v1504207991/vline_ryzdvu.png) repeat-y;
  margin: 0;
  padding: 0;
}

ul.tree ul {
  margin-left: 10px;
}

ul.tree li {
  margin: 0;
  padding: 0 12px;
  line-height: 20px;
  background: url(http://res.cloudinary.com/dt5viyxyq/image/upload/v1504208105/node_mohdp1.png) no-repeat;
  font-weight: bold;
  width: 500px;
}

ul.tree li.last-child {
  background: #fff url(http://res.cloudinary.com/dt5viyxyq/image/upload/v1504208513/lastnode_g94jew.png) no-repeat;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.search-container {
  position: fixed;
  right: 10%;
  width: 400px;
  text-align: center;
  border: 1px solid #cacaca;
}

.search-container form {
  padding: 10px 0;
}
.search-container input {
  width: 200px;
  padding: 10px;
  font-size: 12px;
}
.search-container input:focus {
  outline: 0;
}
.search-results h5 {
    padding: 0px 30px;
    cursor: pointer;
}
.search-results {
  height: 500px;
  overflow:scroll;
  background: #f6f6f6;
}


form button {
  background-color: darkgrey;
  border: none;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 14px;

}

/*.re-render {
  position: fixed;
  bottom: 20px;
  right: 90px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 11px;
}*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
