<!DOCTYPE html>
<html>
  <head>
    <title>DataTree</title>
    <link rel="icon" href="http://res.cloudinary.com/dt5viyxyq/image/upload/v1504206619/tree_wfe3t8.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              document.getElementById("myBtn").style.display = "block";
          } else {
              document.getElementById("myBtn").style.display = "none";
          }
      }

      function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
      }
    </script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  </body>
</html>
